/storage
/storage/fonts
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
__pycache__/
/public/jornal-impresso
/public/noticias-tv
worker.log
/public/planilhas
/public/img/noticia-impressa
/public/img/noticia-impressa/recorte
/public/img/noticia-web
/public/audio/noticia-radio
/public/video/noticia-tv
/public/img/clientes
/public/img/impresso-img